.cart-list {

    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    height: 200px;
    /* max-height: 350px; */
    /* max-height: 300px; Set a fixed height for the container */
    overflow-y: auto;
  }
  
  .back-button-div{
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  .price-continue-div{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 10px;
  }

  .total-price-wrapper{
    min-width: 300px;
    max-width: 800px;
    display: flex;
    justify-content: right;
    width: 90%;
  }

  .total-price-frame {
    margin-right: 127px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ff7700;
    padding: 10px 10px; 
    margin-bottom: 8px;
  }

  .total-price, .total-price-label {
      font-weight: bold;
      font-size: 20px;
  }

  .total-price{
    width: 50%;
  }

  .total-price-label {
    width: 50%;
    color: white;
  }

  .no-items-section {
      display: flex;
      padding: 100px;
      flex-direction: column; 
      align-items: center; 
      justify-content: center;
  }

  .no-items-label{
      font-size: 27px;
  }

  @media only screen and (max-width: 840px){
      .cart-list{
        padding-top: 60px;
        height: 200px;
        overflow-y: auto;
      }
  }

  @media only screen and (max-width: 600px) {
    .control-panel{
      flex-direction: column;
      gap: 5px;
    }

    .back-button-div{
      justify-content: center;
    }

    /* .cart-list{
      max-width: 450px;
    } */

    /* .cart-list .list-item {
      max-height: 40px;
    } */
 

    .total-price-frame{
      margin-left: 16px;
    }
  }