.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 110px;
  background-color: #a8dadc;
  font: 21px 'barlow', sans-serif;
  color: #000000;
}

button {
  background-color: transparent;
  border: none;
}

.navbar-brand {
  font: 40px 'barlow', bold;
  align-items: center;
  padding-left: 20px;
}

.navbar-menu {
  margin-left: 10%; 
  display: flex;
  font: 21px 'barlow', sans-serif;
  height: 100%;
  align-items: center;
} 

.navbar-menu button {
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Plynulá zmena */
}

.navbar-menu button:hover {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
    
.navbar-item {
  margin-right: 40px; 
  text-align: right; 
  font: 21px 'barlow', sans-serif;
  display: inline-block;
}
  
.navbar-search {
  display: flex;  
  align-items: center;
  border-radius: 20px;
  background-color: #FFFFFF;
  height: 37px;
}

.navbar-search input {
  width: 180px;
  background-color: transparent;
  border: none;
  font-size: 21px;
  padding: 20px
}
  
.navbar-search input:focus {
  outline: none;
}

.navbar-search img {
  width: 28px; 
  height: auto; 
}

.navbar-icons {
  padding-right: 20px;
}

.navbar-icons button {
  background-color: transparent;
  margin-left: 10px; 
}

.navbar-icons img {
  width: 40px; 
  height: auto;
}

.navbar-icons button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
  
.navbar-icons button img:hover {
  opacity: 0.8; 
}

@media (max-width: 1052px) {
  .navbar {
    justify-content: flex-start;
  }
  
  .navbar-menu {
    margin-left: auto; 
    margin-right: 3%;
    margin-right: 0px; 
  }

  .navbar-search {
    border: none;
    margin-right: 20px;
    background-color: transparent;
  }

  .navbar-search input {
      display: none;
  }
}

@media (max-width: 756px) {
  .navbar-menu {
    display: flex; 
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
}



