
.control-panel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid;
    margin: 30px auto;
    padding-top: 10px;
    width: 90%;
}

/* Switch to horizontal style if the width is too small */
@media only screen and (max-width: 700px) {

    .control-panel{
        flex-direction: column;
        width: 100%;
        gap: 0px;
    }
}