
.control-panel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid;

    padding-top: 10px;
    width: 90%;
    margin: 20px auto;
}