.content-wrapper-left{
    display: flex;
    flex-direction: row;

    justify-content: left;
    width: 100%;
    height: 100%;
}

.content-wrapper-col-left{
    display: flex;
    flex-direction: column;

    justify-content: left;
    width: 100%;
    height: 100%;
}


.content-wrapper-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content-wrapper-row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: row;
    text-align: center;

    justify-content: center;
    align-items: center;
}